<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
          </i>
        </div>
        <div>Posts list</div>
      </div>
    </div>
  </div>            <div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body"><h5 class="card-title">Posts table</h5>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource"
                 class="mat-elevation-z8">

            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>
                No.
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="No."> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="image">
              <mat-header-cell *matHeaderCellDef>
                Image
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Image">
                <div class="post-image">
                  <img [src]="element.image ? urlThumbs + element.image : defaultImage" alt="">
                </div>
              </mat-cell>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>
                Title
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Title"> {{element.title}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="slug">
              <mat-header-cell *matHeaderCellDef>
                Slug
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Slug"> {{element.slug}} </mat-cell>
            </ng-container>

            <!-- Date create Column -->
            <ng-container matColumnDef="created_at">
              <mat-header-cell *matHeaderCellDef>
                Date create
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Date create"> {{element.created_at}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
