h1
  margin-bottom: 30px
.guestbook-table
  margin-bottom: 50px
  h2
    margin: 30px 0
  table
    width: 100%
    th.mat-sort-header-sorted
      color: black
    td
      .guestbook-image
        img
          width: 100%
          max-width: 150px
          height: auto
          margin: 5px

.guestbook-form
  h2
    margin: 30px 0
  .form-wrp
    display: block
    width: 50%
    margin-bottom: 50px
    @media only screen and (max-width: 770px)
      width: 100%
    form
      .btn-submit
        margin: 20px 0
      .select-wrp
        display: flex
        align-items: center
        input
          margin-right: 10px
      .image-preview
        width: 150px
        height: auto
        margin: 20px 0 10px 0
      .error
        border: 1px solid red

